<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    
    <link rel="stylesheet" href="/normalize.css">
    <!-- <link rel="stylesheet" href="/skeleton.css"> -->
    <link rel="stylesheet" href="/style.css">
     <script src="/public/app.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="lib/css/emoji.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>


<script>
  console.log("app.js connected")

  const io= require("socket.io-client")
  
  let socket = io.connect("http://localhost:3001")
   
  socket.on("welcome", (data) => {
  console.log("Socket Received:", data)
  })
</script>
  
  
  

  <br><br>

        <td>         </td>  
        <ul>
                 <%  let messageTotal = 0 %>
                 <%  let $count %>
              
                 <% for(let i = 0; i < allMessages.length; i++) { %>
    <li>   <!-- LI PRINTED EACH LOOP    -->
                    <%  messageTotal = messageTotal + 1 %>
                 <%    if (i%2) {  %>
                 <div class="container darker">
                     <%    } else { %>
                         <div class="container">
                  <%   }  %>

        <div class="container">  
               
          
               
                <%    if (i%2) {  %>
                    <img src="icon2.png" style="float:left" alt="i%2 =true">
                 <%    } else { %>
                    <img src="icon3.png" style="float:left" alt="i%2 =false">
              <%   }  %>


          
              <a href="/messages/<%=allMessages[i].id %>">        <%=allMessages[i].user; %>:   </a>
              <div class="like" style="float:right">
                <button style= "color:red"><form action="/messages/<%= allMessages[i].id %>?_method=PATCH" method="POST">
                    <i class="fas fa-heart"></i><input type="submit" value="Like" /> </form > 
                   </button>
             
              </div>
              <%=allMessages[i].message; %> 
         
                    <span class="time-right">  <br>
                     <%=allMessages[i].createdAt; %> </span>
                   
                </a>
                <% allMessages[i].likes %> <br>
              LIKES=  <%= allMessages[i].likes; %>
            

               


              <a href="/messages/<%=allMessages[i].id %>/edit">Edit</a>  <br>
            <br>  
                



            <form action="/messages/<%= allMessages[i].id %>?_method=PATCH" method="POST">
                    <input type="submit" value="Like"  />
        </form>



    

                <form action="/messages/<%= allMessages[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"  />
                </form>
            
            </div>
          
            
              
     </li>
            <% } %>
 
    
        
        
      

        </ul>

       <div class="navbarTop">
       <h2> <a href="/messages/">Home</a>
        <a href="#news">Contacts</a>
        <a href="#contact">Preferences</a>
        <a href="/messages/boards">Change Boards</a></h2>
        Total Messages: <%= messageTotal %>
       
       </div>

        <div class="navbar">

     
            <form action="/messages" method="POST" >
                User: <input type="text" name="user" /><br/>
                Message: <input type="text" name="message" /> 
                <span class="highlighter">  
                      <input type="submit" name="" value="Send"/></span>  
                <!-- SuperUser: <input type="checkbox" name="superUser" /><br/> -->

    
          </div>
          
      

   

    </body>
</html>