<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-4ZPLezkTZTsojWFhpdFembdzFudphhoOzIunR1wH6g1WQDzCAiPvDyitaK67mp0+" crossorigin="anonymous">
     <!-- <script src="/home/jbrown7407/Desktop/Projects/delta/scripts/app.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

  <br><br>

      
        <ul>
                 <%  let messageTotal = 0 %>
           

                 <% for(let i = 0; i < allMessages.length; i++) { %>
    <li>   <!-- LI PRINTED EACH LOOP    -->
                    <%  messageTotal = messageTotal + 1 %>
                 <%    if (i%2) {  %>
                 <div class="container darker">
                     <%    } else { %>
                         <div class="container">
                  <%   }  %>
        

           

                <%    if (i%2) {  %>
                    <img src="icon2.png" style="float:left" alt="i%2 =true">
                 <%    } else { %>
                    <img src="icon3.png" style="float:left" alt="i%2 =false">
              <%   }  %>

              <a href="/messages/<%=allMessages[i].id %>">        <%=allMessages[i].user; %>:   </a>
              <div class="like" style="float:right">
                <button style= "color:red"><form action="/messages/<%= allMessages[i].id %>?_method=PATCH" method="POST">
                    <input type="submit" value="Like" /><i class="fas fa-heart"></i> <%= allMessages[i].likes; %></form > 
                   </button>

              </div>
              <%=allMessages[i].message; %> <br>

                    <span class="time-right">  <br>
                     <%=allMessages[i].createdAt; %> </span>

               
                <% allMessages[i].likes %> <br>
              


        
            <br>

          

             <button>
                <form action="/messages/<%= allMessages[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"  />
                </form> </button>  <span class="floaty" style="float:right">    <a href="/messages/<%=allMessages[i].id %>/edit">Edit</a></span>   

            </div>



     </li>
            <% } %>

        </ul>
  
       <div class="navbarTop">
       <h2> <a href="/messages/">Home</a>
        <a href="#news">Contacts</a>
        <a href="#contact">Preferences</a>
        <a href="/messages/boards">Change Boards</a></h2>
        Total Messages: <%= messageTotal %>

       </div>

        <div class="navbar">


            <form action="/messages" method="POST" >
                User: <input type="text" name="user" /><br/>
                Message: <input type="text" name="message" />
                <span class="highlighter">
                      <input type="submit" name="" value="Send"/></span>
                <!-- SuperUser: <input type="checkbox" name="superUser" /><br/> -->


          </div>
    </body>
</html>
